EXPO_PUBLIC_SUPABASE_URL=https://wziqikvpsakzvbkayidf.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind6aXFpa3Zwc2FrenZia2F5aWRmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYxMjIxNzYsImV4cCI6MjA5MTY5ODE3Nn0.t_nvACTBFVGYkX3r9BiWtO3j4pYV_2TzwhmdkISHP9o
